* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: darkgreen;
}
.logo {
  width: 100px;
  height: auto;
}
.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-links li {
  margin-left: 20px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}
h1 {
  text-align: center;
  margin-top: 0;
  color: darkorange;
  font-size: 80px;
}
h2 {
  text-align: center;
  color: seagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  margin-bottom: 10px;
  font-size: 50px;
}
h3 {
  text-align: center;
  color: seagreen;
  font-size: 40px;
  margin-top: 15px;
}

.about-container {
  display: flex;
  justify-content: space-between;
}
.about-p {
  max-width: 800px;
  margin: 0 auto;
  margin-left: 10px;
  margin-top: 8px;
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.1rem;
}
.image-1 {
  margin-right: 50px;
  width: 400px;
  height: 300px;
}
