* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: darkgreen;
}
.logo {
  width: 100px;
  height: auto;
}
.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-links li {
  margin-left: 20px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

.moving-message {
  text-align: center;
  width: 0;
  margin-top: 0;
  color: darkorange;
  font-size: 4rem;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(20) 1s forwards, blink 0.75s step-end infinite;
  font-weight: bold;
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

h2 {
  text-align: center;
  color: seagreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 3vw;
}
select {
  display: block;
  width: 30%;
  font-size: 18px;
  border-radius: 6px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid darkgreen;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  color: seagreen;
  font-size: 3vw;
  margin-top: 0;
  margin-bottom: 20px;
}
h5 {
  font-size: 30px;
  margin-bottom: 20px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  font-size: 1.2rem;
}
.about-p {
  max-width: 800px;
  margin: 0 auto;
  margin-left: 10px;
  margin-top: 8px;
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.1rem;
}
.image-1 {
  margin-right: 50px;
  width: 400px;
  height: auto;
  max-width: 100%;
}
.products-section {
  padding: 40px 20px;
  text-align: center;
  background-color: beige;
}
.product-container {
  display: flex;
  justify-content: space-around;
}
.product-item {
  background-color: white;
  padding: 20px;
  width: 30%;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-item img {
  width: 100%;
  height: auto;
}
.product-item a {
  display: block;
  color: blueviolet;
  text-decoration: none;
}
.contact-footer {
  padding: 40px 20px;
  background-color: darkgreen;
  color: white;
  text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}
.contact-form label {
  text-align: left;
  margin-bottom: 5px;
}
.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.contact-form button {
  background-color: #fff;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.contact-form button:hover {
  background-color: #45a049;
}
@media (max-width: 768px) {
  .navbar .nav-links {
    flex-direction: column;
    align-items: center;
  }
  .products-section .products {
    flex-direction: column;
  }
  .product-item {
    width: 80%;
    margin: 10px auto;
  }
.about-container {
  flex-direction: column;
  align-items: center;




}
